@page "/onama"
@inject IJSRuntime JSRuntime


<Header Title="O Nama" />



<h1 class="text-center font-lobster my-5">Lokacija i dodatne informacije</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-lg-5 ">
            <div class="google-map border border-dark">
                <Map/>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-lg-5 pt-5 pt-lg-3">
            <h5 class="py-2">Vlasnici : Ilija Čupić, Damir Čupić</h5>
            <h5 class="py-2">Adresa : Storeliene 26A, 2072 Dal</h5>
            <h5 class="py-2">Mail Adresa : trgovina@ilex.no</h5>
            <h5>Dodatno : </h5>
            <p style="line-height: 2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, inventore. Est vel, velit vero tempora aperiam inventore maiores laborum dicta et, ad debitis consequatur voluptas. Ratione, assumenda sunt. Praesentium ea corporis tenetur quod voluptas hic blanditiis! Optio exercitationem repudiandae esse.</p>
            <h5></h5>
        </div>
    </div>
</div>


@code {
   
}
