<!-- header -->
<section id="header">
    <div class="header-text-area">
        <h1 class="font-lobster text-center text-light">@Title</h1>
    </div>
</section>
<!-- header Ends -->

@code {
    [Parameter]
    public string Title { get; set; }
}
